[submodule "opics-common"]
	path = opics-common
	url = https://github.com/MCS-OSU/opics-common.git
[submodule "opics_common"]
	path = opics_common
	url = https://github.com/MCS-OSU/opics-common.git
[submodule "opics_pvoe"]
	path = opics_pvoe
	url = https://github.com/MCS-OSU/opics-pvoe.git
